name: E2E on PR
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - master
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3]
    container: cypress/browsers:node12.13.0-chrome78-ff70
    steps:
      - uses: actions/checkout@v2
      - uses: cypress-io/github-action@v2
        with:
          install-command: npm install
          working-directory: ./
          record: true
          parallel: true
          command: npm run test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
